<!DOCTYPE html>
<html>
	<head>
		<title>{{ Rishiraj Pravahan }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/technical">Technical</a></li>
			<li><a href="/general">General</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    {{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:rpravahan@chisquare.info">email</a></li>
        		<li><a href="https://github.com/rishi-prav">github.com/rishi-prav</a></li>
			</ul>
		</footer>
	</body>
</html>
